<div class="max-w-md w-full p-4 rounded border border-white/10 my-10 mx-auto">
  <h1 class="text-2xl font-black text-center text-white">Sign in to your account</h1>
  <% if (error_msg.length > 0) { %>
  <div id="error-message" class="mt-5 p-2 rounded text-center border border-red-500 bg-red-500/5">
    <p class="text-red-600 text-sm"><%- error_msg %></p>
  </div>
  <script>
    setTimeout(function() {
      const errorMessage = document.getElementById("error-message");
      if (errorMessage) {
        errorMessage.style.display = 'none';
      }
    }, 5000);
  </script>
  <% } %>
  <% if (success_msg.length> 0) { %>
  <div id="success_msg" class="mt-5 p-2 rounded text-center border border-emerald-500 bg-emerald-500/5">
    <p class="text-emerald-600 text-sm"><%- success_msg %></p>
  </div>
  <script>
    setTimeout(function() {
      const successMessage = document.getElementById("success_msg");
      if (successMessage) {
        successMessage.style.display = 'none';
      }
    }, 5000);
  </script>
  <% } %>

  <form action="" class="mt-5">
    <div class="flex flex-col gap-1.5 mb-3">
      <label for="email" class="text-sm text-white">Email</label>
      <input type="email" name="email" id="email" placeholder="Enter your email" class="w-full h-10 px-2 rounded border text-white placeholder:text-sm  border-white/10 bg-gray-900" required>
    </div>
    <div class="flex flex-col gap-1.5 mb-5">
      <label for="password" class="text-sm text-white">Password</label>
      <input type="password" name="password" id="password" placeholder="Enter your password" class="w-full h-10 px-2 rounded border text-white placeholder:text-sm  border-white/10 bg-gray-900" required>
    </div>
    <div class="mb-5">
      <button type="submit" id="submitButton" class="h-10 w-full bg-blue-600 text-white transition-colors duration-200 ease-in-out hover:bg-blue-500 rounded flex items-center justify-center">
        <span id="buttonText">Login</span>
        <svg width="20px" height="20px" id="loadingSpinner" class="hidden ml-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid" class="lds-eclipse" style="background: none;">
          <path ng-attr-d="{{config.pathCmd}}" ng-attr-fill="{{config.color}}" stroke="none" d="M10 50A40 40 0 0 0 90 50A40 42 0 0 1 10 50" fill="#ffffff" transform="rotate(354.062 50 51)">
            <animateTransform attributeName="transform" type="rotate" calcMode="linear" values="0 50 51;360 50 51" keyTimes="0;1" dur="1s" begin="0s" repeatCount="indefinite"></animateTransform>
          </path>
        </svg>
      </button>
    </div>
  </form>
  <div>
    <p class="text-sm">Not a member? <a href="/auth/register" class="hover:underline hover:text-white">Sign up now</a></p>
  </div>
</div>

<script>
  document.getElementById("registerForm").addEventListener("submit", function(e) {
    disableSubmitButton();
    setTimeout(() => {
      enableSubmitButton();
    }, 3000);
  });

  function disableSubmitButton() {
    const submitButton = document.getElementById("submit-button");
    const buttonText = document.getElementById("buttonText");
    const loadingSpinner = document.getElementById("loadingSpinner");

    submitButton.disabled = true;
    buttonText.textContent = "Submitting...";
    loadingSpinner.classList.remove("hidden");
  }

  function enableSubmitButton() {
    const submitButton = document.getElementById("submit-button");
    const buttonText = document.getElementById("buttonText");
    const loadingSpinner = document.getElementById("loadingSpinner");

    submitButton.disabled = false;
    buttonText.textContent = "Login";
    loadingSpinner.classList.add("hidden");
  }
</script>