<div class="my-5">
    <div class="rounded border border-white/10 mb-5">
        <div class="px-4 py-3 border-b border-b-white/10">
            <h1 class="text-xl font-semibold text-white ">Hero Section</h1>
        </div>
        <form action="" class="p-4">
            <div class="mb-3">
                <input type="text" name="heroTitle" id="heroTitle" placeholder="Enter Your Hero Section Title" required class="w-full h-10 px-2 rounded border text-white placeholder:text-sm  border-white/10 bg-gray-900">
            </div>
            <div class="mb-3">
                <textarea name="heroSubText" id="heroSubText" rows="5" placeholder="Enter Your Hero Section Sub Text" required class="w-full p-2 rounded border text-white placeholder:text-sm  border-white/10 bg-gray-900"></textarea>
            </div>
            <button type="submit" class="w-full py-2 rounded transition-colors duration-200 ease-in-out bg-blue-600 text-white hover:bg-blue-500">Save</button>
        </form>
    </div>
    <div class="rounded border border-white/10 mb-5">
        <div class="px-4 py-3 border-b border-b-white/10">
            <h1 class="text-xl font-semibold text-white ">About Section</h1>
        </div>
        <form action="" class="p-4">
            <div class="w-24 aspect-square rounded-full overflow-hidden mb-5">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS-72i8cNdtd4jCjvrt-i6VVpWuJV_FbB3S1Q&s" alt="Avatar" class="w-full h-full object-cover">
            </div>
            <div class="mb-3">
                <input type="file" name="avatar" id="avatar" required >
            </div>
            <div class="mb-3">
                <input type="text" name="name" id="name" placeholder="Enter Your Name" required class="w-full h-10 px-2 rounded border text-white placeholder:text-sm  border-white/10 bg-gray-900">
            </div>
            <div class="mb-3">
                <input type="text" name="post" id="psot" placeholder="Enter Your Post" required class="w-full h-10 px-2 rounded border text-white placeholder:text-sm  border-white/10 bg-gray-900">
            </div>
            <div class="mb-3">
                <textarea name="description" id="description" rows="5" placeholder="Enter Your Description" required class="w-full p-2 rounded border text-white placeholder:text-sm  border-white/10 bg-gray-900"></textarea>
            </div>
            <button type="submit" class="w-full py-2 rounded transition-colors duration-200 ease-in-out bg-blue-600 text-white hover:bg-blue-500">Save</button>
        </form>
    </div>
</div>