    <header class="flex items-center justify-center h-16">
        <nav class="max-w-3xl w-full px-4 flex items-center justify-between gap-5">
            <a href="/" class="text-3xl font-bold text-white">WanderInk</a>
            <button class="menu-icon  relative h-8 w-8 border border-neutral-700 rounded md:hidden flex items-center justify-center" title="Menu Icon" data-nav-toggler>
                <div class="line absolute w-6 h-[2px] rounded duration-200 transition-transform ease-in-out bg-white"></div>
                <div class="line absolute w-6 h-[2px] rounded duration-200 transition-transform ease-in-out bg-white"></div>
                <div class="line absolute w-6 h-[2px] rounded duration-200 transition-transform ease-in-out bg-white"></div>
            </button>
            <div class="menu absolute md:relative md:top-0 top-16 right-0 left-0 flex md:flex-row flex-col items-center justify-between w-full md:duration-0 md:transition-none duration-200 transition-opacity ease-in-out ">
                <div class="flex md:flex-row flex-col md:justify-end w-full md:p-0 p-4 md:bg-transparent bg-neutral-950 ">
                    <div class="flex md:items-center md:flex-row flex-col md:mb-0 mb-3 gap-1">
                        <a href="/admin/dashboard" class="text-xl md:text-base font-medium px-1.5 py-1 rounded hover:text-white hover:bg-neutral-700 transition-colors duration-200 ease-in-out">Dashboard</a>
                        <a href="/admin/dashboard/users" class="text-xl md:text-base font-medium px-1.5 py-1 rounded hover:text-white hover:bg-neutral-700 transition-colors duration-200 ease-in-out">Users</a>
                        <a href="about.html" class="text-xl md:text-base font-medium px-1.5 py-1 rounded hover:text-white hover:bg-neutral-700 transition-colors duration-200 ease-in-out ">Posts</a>
                        <a href="contact.html" class="text-xl md:text-base font-medium px-1.5 py-1 rounded hover:text-white hover:bg-neutral-700 transition-colors duration-200 ease-in-out">Categories</a>
                        <a href="contact.html" class="text-xl md:text-base font-medium px-1.5 py-1 rounded hover:text-white hover:bg-neutral-700 transition-colors duration-200 ease-in-out">Profile</a>
                        <a href="contact.html" class="w-fit text-xl md:text-base font-medium px-1.5 py-1 rounded bg-red-600 hover:bg-red-500 transition-colors duration-200 ease-in-out md:ms-3">Logout</a>
                    </div>
                </div>
                <div class="overlay h-full bg-black/50 w-full" data-nav-toggler></div>
            </div>
        </nav>
    </header>