<footer class="flex items-center justify-center">
    <div class="max-w-4xl w-full flex items-center justify-between flex-wrap gap-5 py-10 px-5">
        <p class="text-sm">&copy; 2024 Your Company. All Rights Reserved.</p>
        <div class="flex items-center gap-2">
            <a href="" class="text-sm">Twitter</a>
            <a href="" class="text-sm">GitHub</a>
        </div>
        <a href="#" class="text-sm">Back to Top</a>
    </div>
</footer>