    <footer class="flex items-center justify-center h-16 px-4">
        <p class="text-[14px]">&copy; <%= new Date().getFullYear(); %> WanderInk • Built with NodeJs & MongoDB</p>
    </footer>
    <script src="/js/hero.section.js"></script>