<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="<%- locals.description %>">
    <link rel="stylesheet" href="/css/tailwind.css">
    <link rel="stylesheet" href="/css/style.css">
    <title><%-  locals.title.charAt(0).toUpperCase() +  locals.title.slice(1) %></title>
</head>
<body class="antialiased overflow-x-hidden text-[15px] font-[400] bg-neutral-950 text-neutral-200 ">
    <%- include('../partials/admin-header.ejs') %>
    <main class="max-w-3xl w-full mx-auto px-4 ">
        <%- body  %>
    </main>
    <footer class="flex items-center justify-center h-16 px-4">
        <p class="text-[14px]">&copy; 2069 WanderInk • Built with NodeJs & MongoDB</p>
    </footer>
    <script src="/js/index.js"></script>
</body>
</html>