<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Document</title>
</head>
<body class="antialiased overflow-x-hidden font-Inter bg-gray-950 text-gray-400">
    <main class="min-h-screen h-full flex flex-col justify-between">
        <%- include('../partials/header.ejs') %>
        <section class="h-full mb-auto">
        <%- body  %>
        </section>
        <%- include('../partials/footer.ejs') %>
    </main>
</body>
</html>