    <section class="py-5">
        <div class="grid sm:grid-cols-2 grid-cols-1 sm:gap-10 gap-5 items-center py-10">
            <div class="flex flex-col gap-5 items-center">
                <div class="h-36 w-36 rounded-full overflow-hidden">
                    <img src="/images/about.png" alt="About Image">
                </div>
                <div class="flex flex-col items-center gap-3">
                    <h1 class="text-2xl font-semibold text-white">Subhamay Debnath</h1>
                    <p class="text-center">He leads the clean energy group which develops 3D air pollution-climate models</p>
                    <div class="flex items-center gap-3 mt-2">
                        <a href="" class="h-10 w-10 md:h-8 md:w-8 flex items-center justify-center rounded text-white transition-colors duration-200 ease-in-out border border-neutral-700 hover:bg-neutral-700" title="Twitter">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 1227" fill="none" class="size-4"><g clip-path="url(#a)"><path d="M714.163 519.284 1160.89 0h-105.86L667.137 450.887 357.328 0H0l468.492 681.821L0 1226.37h105.866l409.625-476.152 327.181 476.152H1200L714.137 519.284h.026ZM569.165 687.828l-47.468-67.894-377.686-540.24h162.604l304.797 435.991 47.468 67.894 396.2 566.721H892.476L569.165 687.854v-.026Z" fill="#ffffff" class="fill-000000"></path></g><defs><clipPath id="a"><path fill="#ffffff" d="M0 0h1200v1227H0z" class="fill-ffffff"></path></clipPath></defs></svg>
                        </a>
                        <a href="" class="h-10 w-10 md:h-8 md:w-8 flex items-center justify-center rounded text-white transition-colors duration-200 ease-in-out border border-neutral-700 hover:bg-neutral-700" title="Threads">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 128 128" xml:space="preserve" class="size-5"><path d="M93.405 59.512a42.09 42.09 0 0 0-1.612-.732c-.948-17.477-10.498-27.482-26.533-27.585h-.218c-9.591 0-17.568 4.094-22.477 11.543l8.819 6.049c3.668-5.565 9.424-6.751 13.663-6.751h.147c5.28.034 9.264 1.569 11.842 4.562 1.877 2.179 3.132 5.191 3.753 8.992-4.681-.796-9.744-1.04-15.155-.73-15.245.878-25.046 9.77-24.388 22.124.334 6.267 3.456 11.658 8.791 15.18 4.51 2.977 10.32 4.433 16.357 4.104 7.973-.437 14.228-3.479 18.591-9.041 3.314-4.224 5.41-9.698 6.335-16.595 3.8 2.293 6.616 5.311 8.171 8.938 2.645 6.166 2.799 16.3-5.47 24.561-7.244 7.237-15.952 10.368-29.112 10.465-14.598-.108-25.639-4.79-32.817-13.915C25.371 92.139 21.897 79.797 21.768 64c.13-15.797 3.603-28.139 10.325-36.684 7.178-9.125 18.218-13.807 32.817-13.915 14.704.109 25.937 4.813 33.39 13.983 3.654 4.496 6.41 10.151 8.226 16.744l10.334-2.757c-2.202-8.115-5.666-15.108-10.38-20.908C96.925 8.707 82.951 2.684 64.946 2.559h-.072C46.905 2.683 33.088 8.73 23.805 20.53c-8.26 10.501-12.521 25.112-12.664 43.427v.086c.143 18.315 4.404 32.926 12.664 43.427 9.283 11.8 23.1 17.847 41.069 17.971h.072c15.975-.111 27.235-4.293 36.512-13.561 12.137-12.125 11.771-27.323 7.771-36.653-2.871-6.691-8.342-12.125-15.824-15.715zM65.823 85.445c-6.682.376-13.623-2.623-13.966-9.047-.254-4.763 3.39-10.078 14.376-10.711a63.95 63.95 0 0 1 3.706-.108c3.99 0 7.724.388 11.118 1.13-1.267 15.81-8.692 18.377-15.234 18.736z" fill="#ffffff" class="fill-000000"></path></svg>
                        </a>
                        <a href="" class="h-10 w-10 md:h-8 md:w-8 flex items-center justify-center rounded text-white transition-colors duration-200 ease-in-out border border-neutral-700 hover:bg-neutral-700" title="Instagram">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 56.7 56.7" xml:space="preserve" class="size-5"><path d="M28.2 16.7c-7 0-12.8 5.7-12.8 12.8s5.7 12.8 12.8 12.8S41 36.5 41 29.5s-5.8-12.8-12.8-12.8zm0 21c-4.5 0-8.2-3.7-8.2-8.2s3.7-8.2 8.2-8.2 8.2 3.7 8.2 8.2-3.7 8.2-8.2 8.2z" fill="#ffffff" class="fill-000000"></path><circle cx="41.5" cy="16.4" r="2.9" fill="#ffffff" class="fill-000000"></circle><path d="M49 8.9c-2.6-2.7-6.3-4.1-10.5-4.1H17.9c-8.7 0-14.5 5.8-14.5 14.5v20.5c0 4.3 1.4 8 4.2 10.7 2.7 2.6 6.3 3.9 10.4 3.9h20.4c4.3 0 7.9-1.4 10.5-3.9 2.7-2.6 4.1-6.3 4.1-10.6V19.3c0-4.2-1.4-7.8-4-10.4zm-.4 31c0 3.1-1.1 5.6-2.9 7.3s-4.3 2.6-7.3 2.6H18c-3 0-5.5-.9-7.3-2.6C8.9 45.4 8 42.9 8 39.8V19.3c0-3 .9-5.5 2.7-7.3 1.7-1.7 4.3-2.6 7.3-2.6h20.6c3 0 5.5.9 7.3 2.7 1.7 1.8 2.7 4.3 2.7 7.2v20.6z" fill="#ffffff" class="fill-000000"></path></svg>
                        </a>
                        <a href="" class="h-10 w-10 md:h-8 md:w-8 flex items-center justify-center rounded text-white transition-colors duration-200 ease-in-out border border-neutral-700 hover:bg-neutral-700" title="Github">
                            <svg viewBox="0 0 512 512" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 512 512" class="size-5"><path d="M256 32C132.3 32 32 134.8 32 261.7c0 101.5 64.2 187.5 153.2 217.9 11.2 2.1 15.3-5 15.3-11.1 0-5.5-.2-19.9-.3-39.1-62.3 13.9-75.5-30.8-75.5-30.8-10.2-26.5-24.9-33.6-24.9-33.6-20.3-14.3 1.5-14 1.5-14 22.5 1.6 34.3 23.7 34.3 23.7 20 35.1 52.4 25 65.2 19.1 2-14.8 7.8-25 14.2-30.7-49.7-5.8-102-25.5-102-113.5 0-25.1 8.7-45.6 23-61.6-2.3-5.8-10-29.2 2.2-60.8 0 0 18.8-6.2 61.6 23.5 17.9-5.1 37-7.6 56.1-7.7 19 .1 38.2 2.6 56.1 7.7 42.8-29.7 61.5-23.5 61.5-23.5 12.2 31.6 4.5 55 2.2 60.8 14.3 16.1 23 36.6 23 61.6 0 88.2-52.4 107.6-102.3 113.3 8 7.1 15.2 21.1 15.2 42.5 0 30.7-.3 55.5-.3 63 0 6.1 4 13.3 15.4 11C415.9 449.1 480 363.1 480 261.7 480 134.8 379.7 32 256 32z" fill-rule="evenodd" clip-rule="evenodd" fill="#ffffff" class="fill-000000"></path></svg>
                        </a>
                    </div>
                </div>
            </div>
            <div class="flex flex-col gap-5">
                <p>
                    He leads the clean energy group which develops 3D air pollution-climate models, writes differential equation solvers, and manufactures titanium plated air ballons. In his free time he bakes raspberry pi.
                </p>
                <p>
                    This website is a live example of an Eleventy template — it’s not a real blog.People using this template may want to add some information to this page about them or their business.</p>
            </div>
        </div>
    </section>