    <section>
        <div class="h-52 flex flex-col justify-center">
            <h1 id="hero-title" class="text-3xl font-extrabold text-white mb-2">The Journey of Self-Discovery</h1>
            <p id="hero-description">Exploring thoughts, adventures, and the art of living fully.</p>
        </div>
    </section>
    <div class="w-full h-[.5px] bg-white/20"></div>
    <section class="py-5">
        <div class="grid sm:grid-cols-2 grid-cols-1 gap-5">
            <div class="home-post-card transition-colors duration-200 ease-in-out hover:bg-neutral-900 overflow-hidden rounded-md">
                <div class="rounded w-full aspect-video overflow-hidden">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQVEll8uICS2xqheOz2l1Vh1DcvpEyxgVrNfw&s" alt="Post Image" class="h-full w-full object-cover object-center block transition-transform duration-200 ease-in-out">
                </div>
                <div class="flex flex-col gap-2 p-4">
                    <a href="" class="text-sm w-fit px-2 py-1 rounded border border-neutral-700 hover:bg-neutral-700 duration-200 transition-colors ease-in-out capitalize tracking-wide">Technology</a>
                    <a href="" class="text-xl font-bold text-white break-words line-clamp-2 transition-colors duration-200 ease-in-out hover:text-violet-500">Authentication and Authorization in Node.js</a>
                    <p class="line-clamp-3">Learn how to add authentication and authorization to your Node.js web applications using Passport.js or other authentication libraries.</p>
                </div>
            </div>
        </div>
        <div class="py-5">
            <div class="flex items-center justify-between">
                <a href="" class="flex items-center gap-1 text-[15px] font-medium px-2 py-1 rounded hover:bg-neutral-700 duration-200 transition-colors ease-in-out capitalize tracking-wide">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M6.75 15.75 3 12m0 0 3.75-3.75M3 12h18" />
                    </svg>
                    Previous                          
                </a>
                <a href="" class="flex items-center gap-1 text-[15px] font-medium px-2 py-1 rounded hover:bg-neutral-700 duration-200 transition-colors ease-in-out capitalize tracking-wide">
                    Next
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M17.25 8.25 21 12m0 0-3.75 3.75M21 12H3" />
                    </svg>                          
                </a>
            </div>
            <div class="mt-3">
                <p class="text-sm font-medium text-center">On page 1 of 1</p>
            </div>
        </div>
    </section>
    <div class="w-full h-[.5px] bg-white/20"></div>
    <section>
        <div class="flex items-center gap-3 flex-wrap py-5" >
            <a href="" class="text-[15px] font-medium px-2 py-1 rounded border border-neutral-700 hover:bg-neutral-700 duration-200 transition-colors ease-in-out capitalize tracking-wide">Technology</a>
            <a href="" class="text-[15px] font-medium px-2 py-1 rounded border border-neutral-700 hover:bg-neutral-700 duration-200 transition-colors ease-in-out capitalize tracking-wide">Car</a>
            <a href="" class="text-[15px] font-medium px-2 py-1 rounded border border-neutral-700 hover:bg-neutral-700 duration-200 transition-colors ease-in-out capitalize tracking-wide">Photography</a>
            <a href="" class="text-[15px] font-medium px-2 py-1 rounded border border-neutral-700 hover:bg-neutral-700 duration-200 transition-colors ease-in-out capitalize tracking-wide">Space</a>
            <a href="" class="text-[15px] font-medium px-2 py-1 rounded border border-neutral-700 hover:bg-neutral-700 duration-200 transition-colors ease-in-out capitalize tracking-wide">Wildlife</a>
            <a href="" class="text-[15px] font-medium px-2 py-1 rounded border border-neutral-700 hover:bg-neutral-700 duration-200 transition-colors ease-in-out capitalize tracking-wide">Games</a>
            <a href="" class="text-[15px] font-medium px-2 py-1 rounded border border-neutral-700 hover:bg-neutral-700 duration-200 transition-colors ease-in-out capitalize tracking-wide">Sports</a>
        </div>
    </section>