*{
    scroll-behavior: smooth ;
}
@media (max-width: 1024px) {
    .menu-header{
        opacity: 0;
        pointer-events: none;
        transition: all 200ms ease-in-out;
    }
    .menu-header.show{
        opacity: 1;
        pointer-events: all;
    }
}

@media (max-width: 768px) {
    .menu{
        opacity: 0;
        pointer-events: none;
        transition: all 200ms ease-in-out;
    }
    .menu.show{
        opacity: 1;
        pointer-events: all;
    }
}