<div class="py-5">
    <h1 class="inline-block font-bold text-2xl lg:text-4xl text-white mb-2">About</h1>
    <p>My ramblings on all things web dev</p>
</div>
<div class="grid md:grid-cols-2 grid-cols-1 gap-5">
    <div>
        about
    </div>
    <div>
        contact
    </div>
</div>