<div class="py-5">
    <nav class="flex items-center space-x-1 text-sm text-muted mb-3">
        <a href="">Home</a>
        <span>/</span>
        <a href="">Technology</a>
    </nav>
    <h2 class="text-2xl font-bold text-white mb-5">
        Prop Drilling: The Horror Movie - A Tale of React Components
    </h2>
    <!-- <div class="flex items-center gap-2 flex-wrap my-3">
        <a href="" class="text-xs font-semibold rounded p-1.5 bg-gray-800 text-white">code</a>
        <a href="" class="text-xs font-semibold rounded p-1.5 bg-gray-800 text-white">react</a>
        <a href="" class="text-xs font-semibold rounded p-1.5 bg-gray-800 text-white">props</a>
    </div> -->
    <div class="flex items-center gap-2 text-sm ">
        <span>Subhamay</span>-<span>March 4, 2024</span>
    </div>
</div>
<div class="flex md:flex-row flex-col items-start relative md:gap-5 gap-10">
    <div class="w-full md:w-4/6">
        <div class="w-full aspect-video rounded overflow-hidden mb-5">
            <img src="https://blog.jetbrains.com/wp-content/uploads/2024/11/Featured_Blog_1280x720-2x-7.png" alt="" class="w-full h-full object-cover object-center">
        </div>
        <div class="text-white break-words">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat, incidunt eligendi dolor, minima doloribus excepturi atque iure eum odit non distinctio, praesentium nostrum aspernatur magnam quis reprehenderit dolorem. Deserunt aliquid, sunt corrupti dolores harum accusantium aspernatur cumque obcaecati explicabo est sint, doloremque ipsa excepturi repellat eaque aliquam asperiores autem at, illum blanditiis minus consequuntur id? Deserunt reiciendis accusamus soluta fuga tempore. Odit quaerat cupiditate consequatur repellendus itaque sint eum, omnis eos accusamus iure odio nulla animi, tenetur enim ducimus rerum ratione! Enim, saepe! Earum reprehenderit tempore veritatis saepe fugiat quae tempora doloribus deleniti illo necessitatibus? Ratione optio esse quisquam saepe fuga porro accusamus facilis, vitae tempore ex explicabo quo minima, repellendus eum cum dolores, vero aut perspiciatis mollitia recusandae vel! Accusamus, laudantium maxime? Quas harum consectetur dolore eius doloremque fugit voluptate saepe aut corporis magni possimus optio quis unde ratione cupiditate cum porro omnis sunt, maiores nesciunt dicta, eveniet blanditiis. Molestiae, animi odit. Corrupti modi ab dignissimos inventore quia odit corporis? Molestias libero, praesentium omnis reiciendis minima nobis exercitationem reprehenderit quasi, officia nisi quam commodi fugit voluptatum perspiciatis dolorum cum nemo deleniti cupiditate nihil vel fugiat consectetur eius sapiente facere? Minima, adipisci. Quidem dolore, sunt ab mollitia corporis dolores. Inventore cupiditate dolorum labore amet, provident optio ab deleniti reprehenderit consectetur tenetur sunt totam incidunt suscipit nihil quisquam a itaque ipsum est molestiae dolor? Quas velit exercitationem, praesentium, repellat dolor nesciunt expedita iure ipsam laboriosam laudantium quia voluptas minima consequatur totam iusto excepturi adipisci quaerat numquam tenetur ipsum, voluptatibus officia. Officia explicabo amet mollitia tempora eveniet! Delectus, saepe totam vero porro rerum veniam nemo non dicta. Fugit, ipsa, laudantium repellendus aut ducimus quaerat vitae possimus consequuntur laboriosam distinctio perferendis numquam perspiciatis quisquam labore, reprehenderit unde! Dolore ex vel laudantium numquam perspiciatis ullam eveniet non cupiditate voluptate ducimus nostrum aut, reiciendis, eaque ipsum! Eaque dolorem quam praesentium voluptatum asperiores fugiat esse commodi, rem culpa animi tempora. Dicta sed nam soluta debitis qui minus ab blanditiis perspiciatis. Possimus porro molestias magni molestiae nostrum praesentium repellat mollitia quis dolore ratione fugit minus cum nemo id quos facilis esse aliquid recusandae exercitationem alias natus laboriosam expedita, libero voluptatem. Doloremque placeat veniam obcaecati, culpa optio soluta hic facere officiis nesciunt accusamus reprehenderit odio beatae inventore laboriosam, impedit cum ipsa dolor velit ipsum excepturi? Culpa quas saepe ratione hic enim, a doloribus accusamus inventore eum cumque quis totam itaque assumenda at incidunt quam deserunt qui neque aperiam cum odit nesciunt placeat reiciendis? Et praesentium similique dolores dolor nihil eligendi culpa voluptates, in dolore quo, sequi aliquam assumenda ab odit vitae amet rem? Explicabo distinctio in reprehenderit officia, vel voluptas laborum. Amet esse ullam impedit unde fugit optio praesentium architecto fuga sapiente delectus. Doloribus, minima sit est reprehenderit nulla non quas impedit ab ad dolorum maxime unde in magnam reiciendis ex suscipit sed mollitia dicta assumenda quasi saepe nemo sunt quaerat eligendi. Nobis commodi nisi nulla vel vero? Beatae, expedita. Numquam mollitia dolores hic esse, officia possimus, excepturi architecto perferendis veniam autem itaque reprehenderit magnam, nobis similique impedit.
        </div>
        <div class="flex items-center justify-between gap-5">
            <div class="flex items-center flex-wrap gap-2 py-5">
                <a href="" class="text-xs font-semibold rounded p-1.5 bg-gray-800 text-white">code (2)</a>
                <a href="" class="text-xs font-semibold rounded p-1.5 bg-gray-800 text-white">code (2)</a>
                <a href="" class="text-xs font-semibold rounded p-1.5 bg-gray-800 text-white">code (2)</a>
                <a href="" class="text-xs font-semibold rounded p-1.5 bg-gray-800 text-white">code (2)</a>
            </div>
            <div class="flex items-center justify-center w-fit gap-1">
                <button class="flex items-center justify-center">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M21 8.25c0-2.485-2.099-4.5-4.688-4.5-1.935 0-3.597 1.126-4.312 2.733-.715-1.607-2.377-2.733-4.313-2.733C5.1 3.75 3 5.765 3 8.25c0 7.22 9 12 9 12s9-4.78 9-12Z" />
                    </svg>
                </button>
                <span>(200)</span>  
            </div>
        </div>
        <div class="grid md:grid-cols-2 grid-cols-1 gap-5 mt-10">
            <div class="flex flex-col gap-1 items-start rounded transition-all ease-in-out duration-200 p-2 border border-white/10  hover:bg-gray-900">
                <a href="" class="text-sm">Previous Blog</a>
                <a href="" class="text-sm text-white">Types of AI Based on Functionalities</a>
            </div>
            <div class="flex flex-col gap-1 md:items-end items-start rounded transition-all ease-in-out duration-200 p-2 border border-white/10   hover:bg-gray-900">
                <a href="" class="text-sm">Next Blog</a>
                <a href="" class="text-sm text-white">Search Algorithms in AI</a>
            </div>
        </div>
    </div>
    <div class="w-full md:w-2/6 sticky top-20 ">
        <div class="p-4 rounded border border-white/10 mb-5">
            <h1 class="text-xl font-medium text-white">Context Table</h1>
            <ul class="mt-2">
                <li>
                    <a href="">Overview</a>
                </li>
                <li>
                    <a href="">Overview</a>
                </li>
                <li>
                    <a href="">Overview</a>
                </li>
            </ul>
        </div>
        <div class="p-4 rounded border border-white/10 mb-5">
            <h1 class="text-xl font-medium text-white">Categories</h1>
            <div class="flex items-center gap-2 flex-wrap mt-2">
                <a href="" class="flex items-center space-x-1 text-xs font-semibold rounded p-2 bg-gray-800 text-white"><span>🧑‍💻</span><span>Technology</span></a>
                <a href="" class="flex items-center space-x-1 text-xs font-semibold rounded p-2 bg-gray-800 text-white"><span>🧑‍💻</span><span>Technology</span></a>
                <a href="" class="flex items-center space-x-1 text-xs font-semibold rounded p-2 bg-gray-800 text-white"><span>🧑‍💻</span><span>Technology</span></a>
                <a href="" class="flex items-center space-x-1 text-xs font-semibold rounded p-2 bg-gray-800 text-white"><span>🧑‍💻</span><span>Technology</span></a>
            </div>
        </div>
        <div class="p-4 rounded border border-white/10 mb-5">
            <h1 class="text-xl font-medium text-white">Tags</h1>
            <div class="flex items-center gap-2 flex-wrap mt-2">
                <a href="" class="text-xs font-semibold rounded p-1.5 bg-gray-800 text-white">code (2)</a>
                <a href="" class="text-xs font-semibold rounded p-1.5 bg-gray-800 text-white">react (3)</a>
                <a href="" class="text-xs font-semibold rounded p-1.5 bg-gray-800 text-white">props (4)</a>
                <a href="" class="text-xs font-semibold rounded p-1.5 bg-gray-800 text-white">code (2)</a>
                <a href="" class="text-xs font-semibold rounded p-1.5 bg-gray-800 text-white">react (3)</a>
                <a href="" class="text-xs font-semibold rounded p-1.5 bg-gray-800 text-white">props (4)</a>
                <a href="" class="text-xs font-semibold rounded p-1.5 bg-gray-800 text-white">code (2)</a>
                <a href="" class="text-xs font-semibold rounded p-1.5 bg-gray-800 text-white">react (3)</a>
                <a href="" class="text-xs font-semibold rounded p-1.5 bg-gray-800 text-white">props (4)</a>
            </div>
        </div>
    </div>
</div>