<div class="py-5 border-b border-b-white/10">
    <h1 class="inline-block font-bold text-2xl lg:text-4xl text-white mb-2">
        Contact</h1>
</div>
<div class="my-5">
    <% if (error_msg.length > 0) { %>
    <div id="error-message"
        class="my-5 p-2 rounded text-center border border-red-500 bg-red-500/5">
        <p class="text-red-600 text-sm">
            <%- error_msg %>
        </p>
    </div>
    <script>
        setTimeout(function() {
            const errorMessage = document.getElementById(
                "error-message");
            if (errorMessage) {
                errorMessage.style.display = 'none';
            }
        }, 5000);
    </script>
    <% } %>
    <% if (success_msg.length > 0) { %>
    <div id="success_msg"
        class="my-5 p-2 rounded text-center border border-emerald-500 bg-emerald-500/5">
        <p class="text-emerald-600 text-sm">
            <%- success_msg %>
        </p>
    </div>
    <script>
        setTimeout(function() {
            const successMessage = document.getElementById(
                "success_msg");
            if (successMessage) {
                successMessage.style.display = 'none';
            }
        }, 5000);
    </script>
    <% } %>
    <form action="/admin/contact/add" method="post">
        <div class="grid sm:grid-cols-2 grid-cols-1 gap-3 mb-3">
            <div class="w-full">
                <label for="name" class="text-sm">Name</label>
                <input type="text" name="name" id="name"
                    placeholder="Enter your name"
                    class="w-full h-10 px-2 rounded border text-white placeholder:text-sm  border-white/10 bg-gray-900"
                    required>
            </div>
            <div class="w-full">
                <label for="email" class="text-sm">Email</label>
                <input type="email" name="email" id="email"
                    placeholder="Enter your email"
                    class="w-full h-10 px-2 rounded border text-white placeholder:text-sm  border-white/10 bg-gray-900"
                    required>
            </div>
        </div>
        <div class="mb-3">
            <label for="message" class="text-sm">Message</label>
            <textarea name="message" id="Message" rows="5"
                placeholder="Enter your message"
                class="w-full p-2 rounded border text-white placeholder:text-sm  border-white/10 bg-gray-900"
                required></textarea>
        </div>
        <div>
            <button type="submit"
                class="w-full py-2 rounded transition-colors duration-200 ease-in-out bg-blue-600 text-white hover:bg-blue-500">Send</button>
        </div>
    </form>
</div>