<div class="min-h-fit md:min-h-[calc(100dvh-4rem)] h-full flex flex-col items-center justify-center  gap-4 text-center py-10">
    <h1 class="text-3xl sm:text-5xl md:text-6xl lg:text-7xl font-black text-balance text-transparent bg-gradient-to-r from-sky-500 via-blue-500 to-blue-600 bg-clip-text">Hello, I'm Wonderink</h1>
    <p class="max-w-[42rem] mx-auto text-muted sm:text-xl text-balance">Welcome to my blog template. Built using tailwind,EJS and NodeJS.</p>
    <div class="flex sm:flex-row flex-col items-center justify-center gap-4 w-full px-4">
        <a href="" class="w-full sm:w-36 sm:py-2.5 py-3 text-balance sm:text-sm font-medium text-black bg-white/80  border rounded transition-colors duration-200 ease-in-out hover:bg-white">View my blog</a>
        <a href="" class="w-full sm:w-36 sm:py-2.5 py-3 text-balance sm:text-sm font-medium text-white  border rounded transition-colors duration-200 ease-in-out hover:text-black hover:bg-white">GitHub</a>
    </div>
</div>
<div>
    <h1 class="text-xl font-bold text-white py-2">Latest Posts</h1>
    <div class="flex md:flex-row flex-col items-start relative md:gap-5 gap-10">
        <div class="w-full md:w-4/6 border-t border-t-white/10">
            <div class="flex flex-col gap-3 py-5 border-b border-b-white/10">
                <h2 class="text-2xl font-bold text-white group">
                    <a href="" class="line-clamp-2 group-hover:underline">Prop Drilling: The Horror Movie - A Tale of React Components</a>
                </h2>
                <div class="flex items-center gap-2 flex-wrap">
                    <a href="" class="flex items-center space-x-1 text-xs font-semibold rounded p-2 bg-gray-800 text-white"><span>🧑‍💻</span><span>Technology</span></a> →
                    <a href="" class="text-xs font-semibold rounded p-1.5 bg-gray-800 text-white">code</a>
                    <a href="" class="text-xs font-semibold rounded p-1.5 bg-gray-800 text-white">react</a>
                    <a href="" class="text-xs font-semibold rounded p-1.5 bg-gray-800 text-white">props</a>
                </div>
                <p class="text-muted break-words">Step into a spine-chilling narrative where React components face the dread of prop drilling. Discover how using Context API or Redux can save your components from the depths of despair in this humorous take on a common React challenge.</p>
                <div class="flex items-center justify-between">
                    <div class="flex items-center space-x-2 text-sm text-white ">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-5">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M6.75 3v2.25M17.25 3v2.25M3 18.75V7.5a2.25 2.25 0 0 1 2.25-2.25h13.5A2.25 2.25 0 0 1 21 7.5v11.25m-18 0A2.25 2.25 0 0 0 5.25 21h13.5A2.25 2.25 0 0 0 21 18.75m-18 0v-7.5A2.25 2.25 0 0 1 5.25 9h13.5A2.25 2.25 0 0 1 21 11.25v7.5" />
                        </svg>                                                   
                        <span>February 28, 2024</span>
                    </div>
                    <a href="" class="text-sm text-white hover:underline">
                        Read more →
                    </a>
                </div>
            </div>
            <div class="flex flex-col gap-3 py-5 border-b border-b-white/10">
                <h2 class="text-2xl font-bold text-white group">
                    <a href="" class="line-clamp-2 group-hover:underline">Prop Drilling: The Horror Movie - A Tale of React Components</a>
                </h2>
                <div class="flex items-center gap-2 flex-wrap">
                    <a href="" class="flex items-center space-x-1 text-xs font-semibold rounded p-2 bg-gray-800 text-white"><span>🧑‍💻</span><span>Technology</span></a> →
                    <a href="" class="text-xs font-semibold rounded p-1.5 bg-gray-800 text-white">code</a>
                    <a href="" class="text-xs font-semibold rounded p-1.5 bg-gray-800 text-white">react</a>
                    <a href="" class="text-xs font-semibold rounded p-1.5 bg-gray-800 text-white">props</a>
                </div>
                <p class="text-muted break-words">Step into a spine-chilling narrative where React components face the dread of prop drilling. Discover how using Context API or Redux can save your components from the depths of despair in this humorous take on a common React challenge.</p>
                <div class="flex items-center justify-between">
                    <div class="flex items-center space-x-2 text-sm text-white ">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-5">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M6.75 3v2.25M17.25 3v2.25M3 18.75V7.5a2.25 2.25 0 0 1 2.25-2.25h13.5A2.25 2.25 0 0 1 21 7.5v11.25m-18 0A2.25 2.25 0 0 0 5.25 21h13.5A2.25 2.25 0 0 0 21 18.75m-18 0v-7.5A2.25 2.25 0 0 1 5.25 9h13.5A2.25 2.25 0 0 1 21 11.25v7.5" />
                        </svg>                                                   
                        <span>February 28, 2024</span>
                    </div>
                    <a href="" class="text-sm text-white hover:underline">
                        Read more →
                    </a>
                </div>
            </div>
            <div class="flex flex-col gap-3 py-5 border-b border-b-white/10">
                <h2 class="text-2xl font-bold text-white group">
                    <a href="" class="line-clamp-2 group-hover:underline">Prop Drilling: The Horror Movie - A Tale of React Components</a>
                </h2>
                <div class="flex items-center gap-2 flex-wrap">
                    <a href="" class="flex items-center space-x-1 text-xs font-semibold rounded p-2 bg-gray-800 text-white"><span>🧑‍💻</span><span>Technology</span></a> →
                    <a href="" class="text-xs font-semibold rounded p-1.5 bg-gray-800 text-white">code</a>
                    <a href="" class="text-xs font-semibold rounded p-1.5 bg-gray-800 text-white">react</a>
                    <a href="" class="text-xs font-semibold rounded p-1.5 bg-gray-800 text-white">props</a>
                </div>
                <p class="text-muted break-words">Step into a spine-chilling narrative where React components face the dread of prop drilling. Discover how using Context API or Redux can save your components from the depths of despair in this humorous take on a common React challenge.</p>
                <div class="flex items-center justify-between">
                    <div class="flex items-center space-x-2 text-sm text-white ">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-5">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M6.75 3v2.25M17.25 3v2.25M3 18.75V7.5a2.25 2.25 0 0 1 2.25-2.25h13.5A2.25 2.25 0 0 1 21 7.5v11.25m-18 0A2.25 2.25 0 0 0 5.25 21h13.5A2.25 2.25 0 0 0 21 18.75m-18 0v-7.5A2.25 2.25 0 0 1 5.25 9h13.5A2.25 2.25 0 0 1 21 11.25v7.5" />
                        </svg>                                                   
                        <span>February 28, 2024</span>
                    </div>
                    <a href="" class="text-sm text-white hover:underline">
                        Read more →
                    </a>
                </div>
            </div>
            <div class="py-5 text-end">
                <a href="/blogs" class="text-white font-medium hover:underline">View All Blog → </a>
            </div>
        </div>
        <div class="w-full md:w-2/6 sticky top-20 ">
            <div class="mb-5">
                <form action="" class="w-full md:h-10 h-12 overflow-hidden flex items-center rounded border border-white/10">
                    <input type="text" name="search" id="search" placeholder="search" class="w-full h-full pl-2 bg-transparent outline-none text-white placeholder:text-sm">
                    <button class="h-9 w-9 flex items-center justify-center bg-transparent" title="search">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-5">
                            <path stroke-linecap="round" stroke-linejoin="round" d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z" />
                        </svg>                      
                    </button>
                </form>
            </div>
            <div class="p-4 rounded border border-white/10 mb-5">
                <h1 class="text-xl font-medium text-white">Categories</h1>
                <div class="flex items-center gap-2 flex-wrap mt-2">
                    <a href="" class="flex items-center space-x-1 text-xs font-semibold rounded p-2 bg-gray-800 text-white"><span>🧑‍💻</span><span>Technology</span></a>
                    <a href="" class="flex items-center space-x-1 text-xs font-semibold rounded p-2 bg-gray-800 text-white"><span>🧑‍💻</span><span>Technology</span></a>
                    <a href="" class="flex items-center space-x-1 text-xs font-semibold rounded p-2 bg-gray-800 text-white"><span>🧑‍💻</span><span>Technology</span></a>
                    <a href="" class="flex items-center space-x-1 text-xs font-semibold rounded p-2 bg-gray-800 text-white"><span>🧑‍💻</span><span>Technology</span></a>
                </div>
            </div>
            <div class="p-4 rounded border border-white/10 mb-5">
                <h1 class="text-xl font-medium text-white">Tags</h1>
                <div class="flex items-center gap-2 flex-wrap mt-2">
                    <a href="" class="text-xs font-semibold rounded p-1.5 bg-gray-800 text-white">code (2)</a>
                    <a href="" class="text-xs font-semibold rounded p-1.5 bg-gray-800 text-white">react (3)</a>
                    <a href="" class="text-xs font-semibold rounded p-1.5 bg-gray-800 text-white">props (4)</a>
                    <a href="" class="text-xs font-semibold rounded p-1.5 bg-gray-800 text-white">code (2)</a>
                    <a href="" class="text-xs font-semibold rounded p-1.5 bg-gray-800 text-white">react (3)</a>
                    <a href="" class="text-xs font-semibold rounded p-1.5 bg-gray-800 text-white">props (4)</a>
                    <a href="" class="text-xs font-semibold rounded p-1.5 bg-gray-800 text-white">code (2)</a>
                    <a href="" class="text-xs font-semibold rounded p-1.5 bg-gray-800 text-white">react (3)</a>
                    <a href="" class="text-xs font-semibold rounded p-1.5 bg-gray-800 text-white">props (4)</a>
                </div>
            </div>
        </div>
    </div>

</div>