<div class="py-5 border-b border-b-white/10">
    <h1 class="inline-block font-bold text-2xl lg:text-4xl text-white mb-2">
        Newsletter</h1>
</div>
<div class="my-5 flex md:items-center md:flex-row flex-col gap-5 py-10">
    <div class="md:w-1/2 w-full ">
        <h1 class="inline-block font-bold text-xl lg:text-2xl text-white mb-2">
            Subscribe Newsletter</h1>
        <p class="mb-2">You will never miss our latest posts.</p>
        <span class="hidden md:block text-white italic text-sm font-light">"We
            promise not to spam you"</span>
    </div>
    <form action="/admin/newsletter/add" method="post" class="md:w-1/2 w-full ">
        <% if (error_msg.length > 0) { %>
        <div id="error-message"
            class="my-5 p-2 rounded text-center border border-red-500 bg-red-500/5">
            <p class="text-red-600 text-sm">
                <%- error_msg %>
            </p>
        </div>
        <script>
            setTimeout(function() {
                const errorMessage = document.getElementById(
                    "error-message");
                if (errorMessage) {
                    errorMessage.style.display = 'none';
                }
            }, 5000);
        </script>

        
        <% } %>
        <% if (success_msg.length > 0) { %>
        <div id="success_msg"
            class="my-5 p-2 rounded text-center border border-emerald-500 bg-emerald-500/5">
            <p class="text-emerald-600 text-sm">
                <%- success_msg %>
            </p>
        </div>
        <script>
            setTimeout(function() {
                const successMessage = document.getElementById(
                    "success_msg");
                if (successMessage) {
                    successMessage.style.display = 'none';
                }
            }, 5000);
        </script>

        
        <% } %><label for="email" class="text-sm">Email</label>
        <div class="mb-3 flex items-center flex-col sm:flex-row gap-2">
            <input type="email" name="email" id="email"
                placeholder="Enter your email"
                class="w-full h-10 px-2 rounded border text-white placeholder:text-sm  border-white/10 bg-gray-900"
                autocomplete="email" required>
            <div class="w-full sm:w-fit">
                <button type="submit"
                    class="w-full py-2 px-4 rounded transition-colors duration-200 ease-in-out bg-blue-600 text-white hover:bg-blue-500">subscribe</button>
            </div>
        </div>
    </form>
    <span class="block md:hidden text-white italic text-sm font-light">"We
        promise not to spam you"</span>
</div>