<section class="min-vh-100 d-flex align-items-center justify-content-center">
    <div class="container p-4">
        <div class="row justify-content-center">
            <div class="col-12 col-md-10 col-lg-8">
                <div class="card p-4 shadow-sm">
                    <h1 class="h3 font-weight-bold mb-3">Account Activation Required</h1>
                    <h6 class="h5 text-danger mb-2">Your account is currently inactive.</h6>
                    <p>To access your account, you must contact our admin team for activation.</p>
                    <div class="my-3">
                        <h2 class="h6 mb-1 font-weight-medium">Please follow these steps:</h2>
                        <ol class="list-decimal list-inside">
                            <li class="mb-1">
                                <span class="font-weight-bold">Reach Out to Support:</span> Use the contact form on our website.
                            </li>
                            <li class="mb-1">
                                <span class="font-weight-bold">Provide Your Details:</span> Include your username and email address associated with the account.
                            </li>
                            <li class="mb-1">
                                <span class="font-weight-bold">Wait for Confirmation:</span> Our team will review your request and get back to you as soon as possible.
                            </li>
                        </ol>
                    </div>
                    <p><span class="font-weight-bold">Thank you for your understanding!</span> If you have any further questions, feel free to reach out.</p>
                    <div class="mt-3">
                        <a href="/contact" class="btn btn-warning fw-semibold">Go back to the contact page</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
